<nav class="navbar navbar-light p-1">
  <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="../assets/imgs/logo.png" alt="logo.png" class="img-logo ms-3 m-0">
      <span class="badge text-bg-secondary ms-3 " style="background-color: #403d39 !important;">CapitalPro-Gestor</span>
    </a>
    <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebar" aria-bs-controls="sidebar" aria-bs-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
  </div>
  <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse mt-4">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li routerLinkActive="active" class="mb-3">
            <a class="nav-link active" routerLink="solicitudes" (click)="setSelector('solicitudes')" [ngClass]="{'active': selector() == 'solicitudes'}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              <span class="ms-2">Solicitudes</span>
            </a>
          </li>
          <li routerLinkActive="active" >
            <a class="nav-link" aria-current="page" routerLink="indicadores" (click)="setSelector('indicadores')" [ngClass]="{'active': selector() == 'indicadores'}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <span class="ms-2">Indicadores</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>